@model WebEnterprise.Models.DTO.PostDTO

@{
    ViewData ["Title"] ="Index";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<div class="modal-content">
	<div class="modal-body modal-body-md">
		<h5 class="title">Add student</h5>
		<form asp-action="AddPost" asp-controller="Post" method="post" class="pt-2" enctype="multipart/form-data">
			<div class="row gy-4">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Title" class="form-label" for="full-name">Title</label>
						<input asp-for="Title" type="text" class="form-control" id="full-name" placeholder="Full name">
						 <span asp-validation-for="Title" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Description" class="form-label" for="dob">Description</label>
						<input asp-for="Description" type="text" class="form-control" id="dob" placeholder="Date of Birth">
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label  class="form-label" for="dob">Category</label>
						@Html.DropDownListFor( p => p.CatId, (SelectList)ViewBag.Cat)
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-12">
					<ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
						<li>
							<button class="btn btn-primary" onclick="document.querySelector('input[name=" Status"]:checked').value">Add Student</button>
						</li>
					</ul>
				</div>
			</div>
			
		</form>
	</div><!-- .modal-body -->
</div>